services:
  postgres:
    image: postgres:16
    container_name: postgres
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - postgresDb:/var/lib/postgresql

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

  tesseract:
    # This image stays UP and waits for your Rust app to send images
    image: tesserack/tesseract-api
    container_name: tesseract_ocr
    ports:
      - "8000:8000"
    restart: always

volumes:
  postgresDb:
