services:
  postgres:
    image: postgres:16
    env_file:
      - env/backend.prod.env
    volumes:
      - postgresDb:/var/lib/postgresql/data

  redis:
    image: redis:7

  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile.prod
    env_file:
      - env/backend.prod.env
    ports:
      - "8088:8088"
    volumes:
      - ./backend/assets:/app/assets
    depends_on:
      - postgres
      - redis

  frontend:
    build:
      context: .
      dockerfile: docker/frontend/Dockerfile.prod
      args:
        - VITE_API_URL=https://recipes.gaby15103.org
        - VITE_STATIC_URL=https://recipes.gaby15103.org/api
    ports:
      - "80:80"
    depends_on:
      - backend

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    #runtime: nvidia
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    # REMOVE the entire deploy block below
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]
    environment:
      - OLLAMA_NUM_PARALLEL=1
      - OLLAMA_MAX_LOADED_MODELS=1
  
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8888:8080

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin_container
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: gabrielmorin03@outlook.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8082:80"
    depends_on:
      - postgres

volumes:
  postgresDb:
  ollama_data:
