services:
  postgres:
    image: postgres:latest
    container_name: postgres
    env_file:
      - backend/.env
    ports:
      - '5432:5432'
    volumes:
      - postgresDb:/var/lib/postgres
volumes:
  postgresDb:
