services:
  postgres:
    image: postgres:16
    container_name: postgres
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - postgresDb:/var/lib/postgresql

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

  ollama:
    image: ollama/ollama:rocm # SPECIFIC FOR AMD
    container_name: ollama
    ports:
      - "11434:11434"
    devices:
      - "/dev/kfd:/dev/kfd"    # Direct GPU access
      - "/dev/dri:/dev/dri"    # Direct Graphics access
    volumes:
      - ollama_data:/root/.ollama
      - ./docker/ollama/entrypoint.sh:/entrypoint.sh
    entrypoint: [ "/bin/bash", "/entrypoint.sh" ]

volumes:
  postgresDb:
  ollama_data:
