services:
  postgres:
    image: postgres:16
    env_file:
      - env/backend.prod.env
    volumes:
      - postgresDb:/var/lib/postgresql/data

  redis:
    image: redis:7

  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
    env_file:
      - env/backend.prod.env
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    environment:
      - OLLAMA_NUM_PARALLEL=1 # Only 1 at a time for 4GB VRAM
      - OLLAMA_MAX_LOADED_MODELS=1

volumes:
  postgresDb:
  ollama_data:
